.pulsable{
  cursor:pointer;
  margin-top: 2%;
  color: black;
}

.page-link{
  color:black;
}

.page-link:hover{
  background-color: #157347;
  color: white;
}

.active>.page-link, .page-link.active {
  background-color: #157347;
}

.pagination{
  --bs-pagination-active-border-color:#157347;
}


