<head>
  <meta name="description" content="Shows details of app" />
  <meta name="theme-color" content="#f5f3f3" />
</head>
<div class="min-h-screen min-w-screen">
  <div class="flex justify-center w-full h-screen pt-10 mx-auto">
    <div class="max-w-xs">
      <div class="rounded-lg info-card">
        <div class="p-2">
          <h4
            class="pb-1 text-xl font-medium leading-8 text-center text-gray-900"
          >
            Unsplash API
          </h4>
          <div class="px-2 text-xs font-semibold text-left text-gray-600">
            <p class="pb-2">
              <span class="font-bold text-gray-900"
                >You can search image and is fetched from the Unsplash API</span
              >
              using the Javascript Reactive Extensions (RxJS) library to
              sbuscribe to an API JSON data Observable
            </p>
            <p>
              API key is required for this. This is just for learning purpose.
            </p>
          </div>

          <div class="my-2 text-center">
            <a
              class="text-xs italic font-medium text-indigo-600 hover:underline hover:text-indigo-800"
              href="https://github.com/sumitsarraf/angular-image-search"
              target="_blank"
              rel="noopener noreferrer"
              >See Github Repo.</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
