.wrapper {
  display: flex;
  height: 100%;
}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  border-right: 2px black solid;
  margin: 50px 20px 50px 0;
}

img {
  padding: 40px;
  max-width: 100%;
  max-height: 100%;
}

.image-data-wrapper {
  margin-top: 40px;
}

.tag-button {
  margin: 5px 5px;
  border-radius: 20px;
  background-color: #157347;
  color: #fffeee;
}

.tags {
  max-width: 450px;
  height: 30%;
  overflow-y: scroll;
}

.description-block{
  max-width: 300px;
}

.public-domain-section{
  margin-bottom: 20px;
}

.public-domain-section h5{
  display: inline-block;
}
.public-domain-section img{
  padding: 0;
  width: 12px;
  margin-left: 5px;
}
